.mdz-dataview-component .p-dataview-footer,
.mdz-datatable-component .p-datatable-footer, 
.mdz-dataview-component .p-dataview-header,
.mdz-datatable-component .p-datatable-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mdz-dataview-component .p-dataview-header, .mdz-datatable-component .p-datatable-header {
    position: absolute;
    width: 100%;
    height: 73px;
    width: 100%;
    top: 0;
}

.mdz-dataview-component .p-dataview-content, .mdz-datatable-component .p-datatable-wrapper {
    width: 100%;
    top: 73px;
    position: absolute;
    height: calc(100% - 165px);
}

.mdz-dataview-component.p-dataview-grid .p-dataview-content {
    margin-left: -14px;
    width: calc(100% + 28px);
}

.mdz-dataview-component .p-dataview-content{
    overflow: auto;
}

.mdz-datatable-component, .mdz-dataview-component {
    position: relative;
    width: 100%;
}

.mdz-datatable-component .p-datatable-footer, .mdz-dataview-component .p-dataview-footer {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

[dir] .mdz-dataview-component.p-dataview .p-dataview-content{
    background: transparent !important;
}

.mdz-dataview-component.p-dataview-grid .p-grid.grid.p-nogutter.grid-nogutter {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:991.98px){
    .mdz-dataview-component .p-dataview-header, .mdz-datatable-component .p-datatable-header{
        height: 130px !important;
    }
    .mdz-dataview-component .p-dataview-content, .mdz-datatable-component .p-datatable-wrapper{
        top: 130px !important;
        height: calc(100% - 215px) !important;
    }
}
